:root {
  --main-text-color-dark-theme: #202024;
  --main-text-color-light-theme: #F6F6F6;
  --secondary-text-color: #b4afaf;

  --brand-color: #4f2ee8;
  --white-color: #ffffff;
  --black-color: #111111;
  --accent-color: rgba(234, 198, 69, 1);

  --background-color-light-theme: #f6f6f6;
  --background-color-dark-theme: #202024;

  --categories-list-light-theme: rgba(17, 17, 17, 0.6);
  --categories-list-dark-theme: #ffffff;

  --brand-color: #4f2ee8;
  --white-cl: #ffffff;
  --black-cl: #111111;
  --yellow-cl: #ffff00;

  --hover-light-theme: #4f2ee8;
  --hover-dark-theme: #eac645;

  // --gradient: radial-gradient(
  //   183.6% 183.01% at 59.76% -23.42%,
  //   #4f2ee8 18.03%,
  //   #ffffff 100%
  // );
  // --shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  // --icons-shadow: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));

  // // breakpoints
  // --phoneMax: 374.9px;
  // --phoneMin: 375px;

  // --tabletMax: 1023.9px;
  // --tabletMin: 768px;

  // --desktopMax: 1440px;
  // --desktopMin: 1024px;

  // // padding-container
  // --paddingPhone: 20px;
  // --paddingTablet: 32px;
  // --paddingDt: 24px;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$gradient: radial-gradient(
  183.6% 183.01% at 59.76% -23.42%,
  #4f2ee8 18.03%,
  #ffffff 100%
);
$shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
$icons-shadow: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));

// breakpoints
$phoneMax: 374.9px;
$phoneMin: 375px;

$tabletMax: 1023.9px;
$tabletMin: 768px;

$desktopMax: 1440px;
$desktopMin: 1024px;

// padding-container
$paddingPhone: 20px;
$paddingTablet: 32px;
$paddingDt: 24px;
