:root {
  --main-text-color-light-theme: #111111;
  --main-text-color-light-theme: #FFFFFF;
  --secondary-text-color: #B4AFAF;

  --brand-color: #4F2EE8;
  --white-color: #FFFFFF;
  --black-color: #111111;
  --accent-color: rgba(234, 198, 69, 1);

  --background-color-light-theme: #F6F6F6;
  --background-color-dark-theme: #202024;

  --categories-list-light-theme: rgba(17, 17, 17, 0.6);
  --categories-list-dark-theme: #FFFFFF;


  --brand-color: #4F2EE8;
  --white-cl: #FFFFFF;
  --black-cl: #111111;
  --yellow-cl: #FFFF00;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}