.dark-theme{
    background-color: var(--background-color-dark-theme);
    color: var(--main-text-color-light-theme);
    stroke: var(--white-color);
    border-color: var(--white-color);;
    // fill: var(--white-color);
    }


.light-theme{
    background-color: var(--background-color-light-theme);
    color: var(--main-text-color-dark-theme);
    stroke: var(--black-color);
    border-color: var(--black-color);
    // fill: var(--black-color);
}

.dark-theme .header-container{
background-color: var(--black-color);
    border-color: var(--white-color);
}

.light-theme .header-container{
    background-color: var(--white-color);
}

.dark-theme .selected-category a,
.dark-theme .side-category:hover,
.dark-theme .side-category:active {
    text-transform: uppercase;
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 700;
}

.dark-theme .shopping-link-list-book {
    filter: invert(1);
}


.dark-theme .categories-list::-webkit-scrollbar-thumb {
    background: rgba(1, 1, 1, 0.6)
}

.dark-theme .header-nav-link-icon {
    fill: var(--white-color);
    stroke: transparent;
}

.dark-theme .card {
    gap: 24px;
    padding: 24px;
    background: black;
    border-color: white;
}

.dark-theme .card__shops {
    filter: invert(1);}


// LOADER DARK THEME

.dark-theme .loader-title {
    color: var(--white-color);
}

.dark-theme .book {
    border: 4px solid var(--accent-color);
}

.dark-theme .page {
    border: 4px solid var(--accent-color);
    border-left: 1px solid #B8860B;
    background: #B8860B;
}

.dark-theme .book .page:nth-child(1),
.dark-theme .book .page:nth-child(2),
.dark-theme .book .page:nth-child(3) {
    -webkit-animation: pageTurnDark 0.25s cubic-bezier(0, .39, 1, .68) 0.8s infinite;
    animation: pageTurnDark 0.25s cubic-bezier(0, .39, 1, .68) 0.8s infinite;
}

@-webkit-keyframes pageTurnDark {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    10% {
        background: var(--accent-color);
    }

    40% {
        background: #B8860B;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    100% {
        background: #B8860B;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes pageTurnDark {
    0% {
        transform: rotateY(0deg);
    }

    20% {
        background: var(--accent-color);
    }

    40% {
        background: #B8860B;
        transform: rotateY(-180deg);
    }

    100% {
        background: #B8860B;
        transform: rotateY(-180deg);
    }
}