.dark-theme{
    background-color: var(--background-color-dark-theme);
    color: var(--main-text-color-light-theme);
    stroke: var(--white-color);
        border-color: var(--white-color);;
    // fill: var(--white-color);
    }


.light-theme{
    background-color: var(--background-color-light-theme);
    color: var(--main-text-color-dark-theme);
    stroke: var(--black-color);
    border-color: var(--black-color);
    // fill: var(--black-color);
}

