.dark-theme{
    background-color: var(--background-color-dark-theme);
    color: var(--main-text-color-dark-theme);
}

.light-theme{
    background-color: var(--background-color-light-theme);
    color: var(--main-text-color-light-theme);
}


// body {
//     background-color: black;
// }