<div class="section container shop-list-container">
  <aside class="shop-aside">
    <include src="./partials/support.html"></include>
  </aside>
  <section class="shopping-list">
    <h1 class="shopping-list__title">
      Shopping
      <span class="shopping-list__title--colored">List</span>
    </h1>
    <div class="cart js-shopping-cart">
      <ul class="cart__list list js-cart-list"></ul>
      <div id="pagination" class="cart__pagination tui-pagination"></div>
    </div>
  </section>
</div>
