<div class="modal-overlay">
<div class="modal">
    <button type="button" class="btn-modal-close mobile-btn">
        <svg class="icon-close" height="20px" width="20px">
            <use href="././images/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
    <form class="modal-form">
    <div class="modal-block" >
        <label class="modal-label" for="name">Name</label>
        <div class="wraper-input">
        <input class="modal-input" type="text" id="name" name="name" />
        </div>
    </div>
    

    <div class="modal-block">
        <label class="modal-label" for="email">Email</label>
        <div class="wraper-input">
            <input class="modal-input"  type="email" id="email"
        name="email" />
        <svg class="icon icon-mail" height="28px" width="28px">
            <use href="././images/symbol-defs.svg#icon-mail"></use>
        </svg>
        </div>
    </div>

    <div class="modal-block">
        <label class="modal-label" for="password">Password</label>
        <div class="wraper-input">
            <input class="modal-input" type="password" id="password" name="password" minlength="7" />
        <svg class="icon icon-lock" height="28px" width="28px">
            <use href="././images/symbol-defs.svg#icon-lock"></use>
        </svg>
    </div>
        
    </div>
    <button name="publish" class="modal-submit" type="submit">
        Sign In
    </button>
    </form>

    <div class="modal-footer">
        <button class="active" type="button">Sign up</button>
        <button type="button">Sign In</button>
    </div>
</div>
</div>
