<section class="section">
    <div class="container">
        <div class="catygories-support-books">
            <div class="catygories-and-support">
                <ul class="categories-list js_side_categories_list">
                    <li class="selected-category"><a href="#" class="side-category">All categories</a></li>
                </ul>
                <include src="./partials/support.html"></include>
            </div>
            <div class="wrapper-categories-box">
                <h1 class="title_categories"></h1>
                <ul class="js_books_view"></ul>
            </div>
        </div>
    </div>
</section>