<section class="section">
<div class="container">
    
    <aside class="side-categories">
    <div class="categories"></div>
    <include src="./partials/support.html"></include>
    
    <div class="test-sup"></div>
    </aside>
    <section class="hero-section">
    
        <h1 class="hero-text">Best Sellers <span class="category-name">Books</span></h1>
        <div class="bookshelf">
            <!-- its just example for look -->

        <div class="book-section">
    <h2 class="mini-section-titles">Combined Print and E-Book Fiction</h2>
    <div class="card-container">
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title1</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title2</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title3</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title4</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title5</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
    </div>
    <button class="select-btn">see more</button>   
</div>

<div class="book-section ">
    <h2 class="mini-section-titles">COMBINED PRINT & E-BOOK NONFICTION</h2>
    <div class="card-container">
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title1</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title2</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title3</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title4</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title5</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
    </div>
    <button class="select-btn">see more</button>
</div>

<div class="book-section ">
    <h2 class="mini-section-titles">HARDCOVER FICTION</h2>
    <div class="card-container">
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title1</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title2</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title3</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title4</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title5</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
    </div>
    <button class="select-btn">see more</button>
</div>

<div class="book-section ">
    <h2 class="mini-section-titles">HARDCOVER nonFICTION</h2>
    <div class="card-container">
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title1</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title2</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title3</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title4</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
        <div class="book-card">
            <div class="book-info">
                <div class="test"></div>
                <h3 class="book-title">example title5</h3>
                <p class="book-autor">example autor</p>
            </div>
        </div>
    </div>
    <button class="select-btn">see more</button>
</div>

    <!--  -->
    
        </div>
    </section>
</div>
</section>