<!-- <button id="slider-left">Влево</button>
<button id="slider-right">Вправо</button> -->

<footer>
	<div data-i="1">
		<a href="https://github.com/NikitaSalnykov"><img
				src="./images/footer/Nikita_Salnykov.jpg"
				width="100%" alt="" title="Nikita Salnykov"></a>
				<p>Nikita Salnykov</p>
	</div>
	<div data-i="2">
		<a href="https://github.com/tarastupko"><img
				src="./images/footer/Taras_Tupko.jpg"
				width="100%" alt="" title="Taras Tupko"></a>
				<p>Taras Tupko</p>
	</div>
	<div data-i="3">
		<a href="https://github.com/Binbinik"><img
				src="./images/footer/Roman_Grytsyk.jpg"
				width="100%" alt="" title="Roman Gritsik"></a>
				<p>Roman Gritsik</p>
	</div>
	<div data-i="4">
		<a href="https://github.com/Bohdan99I"><img
				src="./images/footer/Bohdan_Voitov.jpg"
				width="100%" alt="" title="Bohdan Voitov"></a>
				<p>Bohdan Voitov</p>
	</div>
	<div data-i="5">
		<a href="https://github.com/Helya7"><img
				src="./images/footer/Olha_Chasova.jpg"
				width="100%" alt="" title="Olha Chasova"></a>
				<p>Olha Chasova</p>
	</div>
	<div data-i="6">
		<a href="https://github.com/SergrPashkov"><img
				src="./images/footer/Pashkov_Serhii.png"
				width="100%" alt="" title="Pashkov Serhii"></a>
				<p>Pashkov Serhii</p>
	</div>
	<div data-i="7">
		<a href="https://github.com/Katerina-KEA"><img
				src="./images/footer/Katerina_Kulakovska.jpg"
				width="100%" alt="" title="Katerina Kulakovska"></a>
				<p>Katerina Kulakovska</p>
	</div>
	<div data-i="8">
		<a href="https://github.com/BanderaGaming"><img
				src="./images/footer/Vsevolod_Cherniak.jpg "
				width="100%" alt="" title="Vsevolod Cherniak"></a>
				<p>Vsevolod Cherniak</p>
	</div>
	<div data-i="9">
		<a href="https://github.com/Pashttett"><img
				src="./images/footer/Pavlo_Melnyk.jpg"
				width="100%" alt="" title="Pavlo Melnyk"></a>
				<p>Pavlo Melnyk</p>
				
	</div>
</footer>