<header class="header">
  <div class="header-container">
    <a class="header-logo" href="/src/index.html">
      <svg class="header_logo-icon" width="109" height="28">
        <use href="#"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <div class="header-nav-items">
            <a class="header-nav-link active" href="/src/index.html">HOME</a>
          </div>
        </li>
        <li class="header-nav-item">
          <div class="header-nav-items" id="nav-item-shopping-list">
            <a class="header-nav-link nav-link-shopping" href="/src/shopping-list.html"
              >SHOPPING LIST
              <svg class="nav-link-icon" width="20" height="20">
                <use href="#"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="header-theme-switch">
        <div class="mobileWrap">
          <label class="switch dark-mode-btn-active" for="theme-switch">
            <input id="theme-switch" type="checkbox" />
            <span class="slider circle"></span>
          </label>
        </div>
        <div class="header-sign">
          <a class="header-sign-up" id="sign-up" href="#">
            Sign up
            <svg class="arrow" width="20" height="20">
              <use href="#"></use>
            </svg>
          </a>
      </div>
      <button
        class="header-burger-menu"
        aria-label="burger-menu"
      >
        <svg class="header-burger-menu-button" width="28" height="28">
          <use href="#"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
