<header class="header">
  <div class="header-container">
    <a class="header-logo" href="/src/index.html">
      <svg class="header-logo-icon" width="24" height="24">
        <use href="/src/images/symbol-defs.svg#icon-logo-2"></use>
      </svg>
    </a>
    <a class="header-logo-p" href="/src/index.html">Bookshelf</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <div class="header-nav-items">
            <a class="header-nav-link" href="/src/index.html">HOME</a>
          </div>
        </li>
        <li class="header-nav-item">
          <div class="header-nav-items" id="nav-item-shopping-list">
            <a class="header-nav-link nav-link-shopping" href="/src/shopping-list.html">SHOPPING LIST
              <svg class="header-nav-link-icon" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-Vector-1"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="header-theme-switch">
        <div class="mobileWrap">
          <label class="switch dark-mode-btn-active" for="theme-switch">
            <input id="theme-switch" type="checkbox" />
            <span class="slider circle"></span>
          </label>
        </div>
        <div class="header-sign button-sing-in">
          <a class="header-sign-up sign-up-butt" href="#">
            Sign up
            <svg class="arrow" width="20" height="20">
              <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </div>
        <div class="header-sign userTitle">
          <a class="header-sign-up" id="User_list" href="#">
            <img class="userAva" src="./images/bookAva.png" alt="User photo">
            <span class="userName"></span>
            <svg class="arrow" width="13" height="7">
              <use href="/src/images/symbol-defs.svg#icon-Vector-2"></use>
            </svg>
          </a>
          <div class="dropdown-content">
            <button class="dropdown-button header-sign-up" id="logoutBtn"><span>Log Out</span>
              <svg class="arrow" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <button class="header-burger-menu" aria-label="burger-menu">
        <svg class="header-burger-menu-button" width="28" height="28">
          <use href="/src/images/symbol-defs.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>