<div>
    <button type="button" class="mobile-btn js-open-menu" aria-expanded="false">
                <svg class="icon-hamburger" width="28" height="28">
                    <use href="./images/symbol-defs.svg#icon-burger-menu"></use>
                </svg>
    </button>
    <button type="button" class="mobile-btn js-close-menu">
                <svg class="icon-close" width="28" height="28">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
    </button>
</div>

<div class="container mobile-menu js-menu-container">
    <div class="mobile-menu-container mobile-menu-thumb">
        <a class="mobile-menu-singin-link" href="#">Sign up
            <svg class="icon-arrow-right" width="20px" height="20px">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </a>

    <div id="mobile-user-info" class="block mob-user-info">
        <div class="mobile__user-img-box">
            <svg
            class="mobile__user-img"
            width="37"
            height="37"
            >
            <use href=""></use>
            </svg>
        </div>
        <p class="mobile__user-info">Sign up</p>
    </div>
    
    <ul id="mobile-menu" class="block mob-menu">
        <li>
            <a
            href="./index.html"
            class=""
            >Home</a
            >
        </li>
        <li>
            <a
            href="./shopping-list.html"
            class=""
            >Shopping list
            <svg class="icon-lock" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-lock"></use>
            </svg>
            </a>
        </li>
    </ul>

    <button class="block mobile__sign-out">
        Log out
        <svg class="icon-arrow-right" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
    </button>
    


</div>
        <!-- <div class="mob-menu__img-wrapper">
        <img class="mobile-menu-images" srcset="./images/mobile-menu/booksgr@2x.png" 
        src="./images/mobile-menu/booksgr.png" alt="books">
        </div> -->
    </div>
