<div class="mobile-burger-menu animate__animated animate__fadeIn animate__faster" id="modal-mobile">
  <div class="header-container animate__animated animate__fadeInDown animate__slow">
    <a class="header-logo" href="/src/index.html">
      <svg class="header-logo-icon" width="24" height="24">
        <use href="/src/images/symbol-defs.svg#icon-logo-2"></use>
      </svg>
    </a>
    <a class="header-logo-p" href="/src/index.html">Bookshelf</a>
    <div class="header-nav">
      <div class="header-nav-menu">
        <div class="mobileWrap">
          <label class="switch dark-mode-btn-active" for="theme-switch-menu">
            <input id="theme-switch-menu" type="checkbox" />
            <span class="slider circle"></span>
          </label>
        </div>
        <!-- <div class="toggle-menu">
        <div class="mobileWrap-menu">
          <label class="switch-menu" for="theme-switch">
            <input id="theme-switch" type="checkbox" />
            <span class="slider-menu circle-menu"></span>
          </label>
        </div>
      </div> -->
        <!-- <div class="header-theme-switch"> 
        <div class="mobileWrap-menu">
          <label class="switch dark-mode-btn-active" for="theme-switch">
            <input id="theme-switch" type="checkbox" />
            <span class="slider circle"></span>
          </label>
        </div> -->
        <!-- <div class="mobileWrap">
          <label class="switch dark-mode-btn-active" for="theme-switch">
            <input id="theme-switch" type="checkbox" />
            <span class="slider circle"></span>
          </label>
        </div> -->
      </div>
      <button class="menu-close" id="close-modal-mobile" type="button">
        <svg class="menu-close-icon" width="28" height="28">
          <use href="/src/images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile-menu-container">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="/src/index.html">HOME</a>
      </li>
      <li class="mobile-menu-item" id="mobile-item-shopping-list">
        <a class="mobile-menu-link" href="/src/shopping-list.html">SHOPPING LIST
          <svg class="mobile-menu-icon" width="20" height="20">
            <use href="/src/images/symbol-defs.svg#icon-Vector-1"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="mobile-menu-log-in">
    <!-- <button class="log-btn" type="button">
        <span>Log out</span>
        <svg class="arrow-right" width="20" height="20">
          <use href="#"></use>
        </svg>
      </button> -->
    <a class="log-btn sign-up-butt" href="#">
      Sign up
      <svg class="arrow" width="20" height="20">
        <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </a>
    <!-- <a class="log-btn" id="sign-up">
        <span>Log in</span>
        <svg class="arrow-right" width="20" height="20">
          <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </a> -->
  </div>
  <img class="mobile-menu-img" src="/src/images/books.png" alt="books" />
</div>
</div>