<div class="support__container">
  <div class="support__header-container">
    <h2 class="support__header-title">Support Ukraine</h2>
    <svg class="support__icon" width="20" height="32">
      <use href="./images/icon.svg#icon-gerb"></use>
    </svg>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper js-support_list"></div>
  </div>
  <button type="button" class="support__btn swiper-up">
    <svg class="support__btn-icon" aria-label="Scroll down">
      <use href="./images/icon.svg#icon-slider"></use>
    </svg>
  </button>
</div>
