.modal-overlay {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #4F2EE8;
    
    overflow-y: scroll;
    transition: opacity var(--transition), visibility var(--transition);
}
.modal {
    box-sizing: border-box;
    max-width: 579px;
    z-index: 101;
    background-color: rgba(246, 246, 246, 1);
    border: 2px solid #111;
    border-radius: 18px;
    align-items: center;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%)translateY(-50%);
}

.ovopen {
    opacity: 1;
    visibility: visible;
}

.btn-modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-form {
    flex-direction: column;
    align-items: center;
    
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    
    
}

.modal-block {
    position: relative;
    width: 100%;
    margin-top: 28px;

}
.modal-block:first-child {
  margin-top: 0;
}

.modal-input {
    width: 100%;
    height: 64px;
    border: 2px solid #111;
    border-radius: 40px;
    background-color: rgba(246, 246, 246, 1);
}

.modal-label {
    position: absolute;
    color: #111;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
}

.icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    stroke: black;
    fill: transparent;
}

.modal-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px 173px;
    background-color: #111;
    border-radius: 40px;
    border: transparent;
    color: #F3F3F3;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;

}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.modal-footer button {
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: inherit;
    color: rgba(17,17,17,.6);
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 0;
    padding: 0;
    transition: all .3s
}

.modal-footer button.active {
    color: rgba(79, 46, 232, 1);
    border-bottom: 1px solid rgba(79, 46, 232, 1);
}