// .hero-section{
//     padding-top:0 ;
//     padding-bottom: 0;
//     margin-bottom: 80px;
// }

// @media screen and(min-width:768px){
//     .hero-section {
//             margin-bottom: 100px;
//         }
// }

// @media screen and(min-width:768px) {
//     .hero-section {
//         margin-bottom: 85px;
//     }
// }

// .test-nav{
//     width: 325px;
//     height: 228px;
//     outline: 1px red solid;
//     margin-bottom: 40px;
// }

// .test-sup{
//     width: 335px;
//         height: 352px;
//         outline: 1px red solid;
//         margin-bottom: 40px
// }

// .side-categories{
//     margin-bottom: 40px;
// }

.hero-text {
    margin-bottom: 40px;
    color: var(--black-cl);
    font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -1.28px;
        text-transform: none;
}

@media screen and(min-width:768px){
    .hero-text{
        font-size: 48px;
        font-weight: 700;
            line-height: 52px;
            letter-spacing: -1.92px;
    }
}

.category-name {
    color: var(--brand-color);
}

.bookshelf{
    margin-bottom: 80px;
    max-width: 335px;
}
@media screen and(min-width:768px){
    .bookshelf{
        max-width: 704px;
    }
}
@media screen and(min-width:1440px) {
    .bookshelf {
        max-width: 995px;
    }
}

.book-section{
    max-width: 335px;
}

@media screen and(min-width:768px) {
    .book-section {
        max-width: 704px;
    }
}

@media screen and(min-width:1440px) {
    .book-section {
        max-width: 995px;
    }
}

.select-btn {
    text-transform: uppercase;
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    padding: 14px 28px;
    color: var(--black-cl);
    background-color: var(--white-cl);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.14px;
    margin-left: auto;
    margin-right: 0;
    display: block;
    margin-bottom: 40px;
}
// .select-btn:last-child({
//     margin-bottom: 0;
// }

.mini-section-titles {
    color: var(--secondary-text-color);
    font-size: 14px;
    letter-spacing: 0.42px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 18px;
    text-transform: uppercase;
}

@media screen and(min-width:768px){
    .mini-section-titles{
            line-height: 24px;
    }
}

.test{
   max-width: 335px; 
    height: 485px;
    background-color: var(--secondary-text-color);
    border-radius: 8px;
    margin-bottom: 14px;
}

@media screen and(min-width:768px){
    .test{
        width: 218px;
        height: 256px;
    }
}

@media screen and(min-width:1440px) {
    .test {
        max-width:180px;
        height: 316px;
    }
}

.book-title{
    color: var(--black-cl);
    font-size: 16px;
        font-weight: 700px;
        line-height: 18px;
        letter-spacing: -0.64px;
        text-transform: uppercase;
}
.book-autor{
    color: var(--secondary-text-color);
    font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.48px;
}

.card-container{
    margin-bottom: 8px;
    max-width: 335px;
}

@media screen and(max-width:767px){
    .book-card:nth-child(5n+3){
        position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
            white-space: nowrap;
            clip-path: inset(100%);
    }
        .book-card:nth-child(5n+4) {
            position: absolute;
            overflow: hidden;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
            white-space: nowrap;
            clip-path: inset(100%);
        }
                .book-card:nth-child(5n+5) {
                    position: absolute;
                    overflow: hidden;
                    clip: rect(0 0 0 0);
                    width: 1px;
                    height: 1px;
                    margin: -1px;
                    padding: 0;
                    border: 0;
                    white-space: nowrap;
                    clip-path: inset(100%);
                }
                                .book-card:nth-child(5n+2) {
                                    position: absolute;
                                    overflow: hidden;
                                    clip: rect(0 0 0 0);
                                    width: 1px;
                                    height: 1px;
                                    margin: -1px;
                                    padding: 0;
                                    border: 0;
                                    white-space: nowrap;
                                    clip-path: inset(100%);
                                }
}
@media screen and(min-width:767px)and(max-width:1440px) {

    .book-card:nth-child(5n+4) {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
    }

    .book-card:nth-child(5n+5) {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
    }
    }


@media screen and(min-width:768px){
    .card-container{
        margin-bottom: 20px;
        display: flex;
        gap: 25px;
        max-width: 704px;
    }
}

@media screen and(min-width:1440px) {
    .card-container {
        margin-bottom: 32px;
        max-width: 995px;
    }
}