.categories {
	top: 100px !important;
	margin-top: 100px !important;
}

.categories li {
	color: rgba($color: #111111, $alpha: 0.6);
}

.test111 {
	height: 100px;
	overflow: scroll;
	color: #111111;
}

.bold {
	font-weight: 700;
	color: #4F2EE8 !important;
}