li {
  list-style-type: none;
}

button {
  display: block;
}

.icon-delete {
  display: block;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

.shop-list-container {
  display: flex;
  align-items: flex-start;
  padding-bottom: 40px;
  @media (min-width: $tabletMin) {
    margin-top: 0;
  }
}

.shop-aside {
  display: none;

  @media (min-width: $desktopMax) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 356px;
  }
}

.shopping-list {
  width: 100%;
}

 @media (min-width: 1440px)  {
.shopping-list {
    margin-left: 40px;
  }
 }



.shopping-list__title {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;

  // color: var(--black-color);

  @media (min-width: $tabletMin) {
    font-size: 48px;
    line-height: 1.08;
  }
  &--colored {
    color: var(--brand-color);
  }
}

.cart {
  &__pagination {
    margin-top: 20px;
    @media (min-width: $tabletMin) {
      margin-top: 40px;
    }
  }


  &__list {
    display: flex;
    flex-direction: column;
    height: 740px;
    gap: 20px;
    margin-top: 40px;
    width: 100%;
    @media (min-width: $tabletMin) {
      height: 679px;
    }
  }
}
.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  max-width: 265px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tabletMin) {
    max-width: 349px;
  }

  &__text {
    display: inline-block;
    text-align: center;
    padding: 0 10px;

    max-width: 265px;
    height: 36px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;

    // color: rgba(0, 0, 0, 0.6);

    @media (min-width: $tabletMin) {
      padding: 0;
      width: 349px;

      font-size: 18px;
      line-height: 1.35;
    }
  }
  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.card {
  // overflow: hidden;
  position: relative;
  display: flex;
  gap: 14px;
  padding: 14px;

  background: var(--background-color-light-theme);
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;

      &:hover {
          cursor: pointer;
        }

  @media (min-width: $tabletMin) {
    gap: 24px;
    padding: 24px;
  }

  &__img {
    min-width: 100px;
    height: 142px;

    object-fit: cover;

    border-radius: 8px;
    @media (min-width: $tabletMin) {
      min-width: 116px;
      height: 165px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    display: block;
    max-width: 144px;
    width: 100%;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


    @media (min-width: $tabletMin) {
      max-width: 460px;
    }
    @media (min-width: $desktopMin) {
      max-width: 745px;
    }
  }

  &__category {
    display: block;
    max-width: 156px;
    margin-top: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: var(--secondary-text-color);

    @media (min-width: $tabletMin) {
      max-width: 460px;
    }
    @media (min-width: $desktopMin) {
      max-width: 745px;
    }
  }

  &__description {
    width: 100%;
    max-width: 193px;
    max-height: 68px;
    margin-top: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 3.9em;
    overflow: hidden;

    text-overflow: ellipsis;

    @media (min-width: $tabletMin) {
      // width: 100%;

      margin-top: 14px;
      max-width: none;
      max-height: 68px;
    }
    @media (min-width: $desktopMin) {
      // width: 100%;
      // max-width: 808px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-end;
    margin-top: 14px;
    // width: 100%;
    @media (min-width: $tabletMin) {
      margin-top: 32px;
    }
  }

  &__author {
    max-width: 95px;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: var(--secondary-text-color);
  }

  &__shops {
    display: flex;
    align-items: center;
    gap: 8px;

    filter: grayscale(1);
    @media (min-width: $tabletMin) {
      gap: 16px;
    }
  }

  &__delete {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 10;
    top: 14px;
    right: 14px;
    width: 28px;
    height: 28px;
    padding: 6px;
    border-radius: 50%;
    stroke: var(--white-color);
    background-color: var(--brand-color);
    border: none;
    fill: transparent;

    cursor: pointer;

    transition: background-color 100ms var(--transition), stroke 100ms var(--transition);;

    @media (min-width: $tabletMin) {
      padding: 8px;
      top: 24px;
      right: 24px;
      width: 34px;
      height: 34px;
    }

    &:hover {
      background-color: var(--hover-dark-theme);
      stroke: var(--black-color);
    }
  }
}

.shop__image {
  &--amazon {
    width: 32px;
    height: 11px;

    &:hover,
    &:focus {
      mix-blend-mode: luminosity;
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    }

    @media (min-width: $tabletMin) {
      width: 48px;
      height: 15px;
    }
  }
  &--apple {
    width: 16px;
    height: 16px;
    &:hover,
    &:focus {
      mix-blend-mode: luminosity;
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    }
    @media (min-width: $tabletMin) {
      width: 28px;
      height: 27px;
    }
  }

  &--bookshop {
    width: 16px;
    height: 16px;

    &:hover,
    &:focus {
      mix-blend-mode: luminosity;
      filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
    }
    @media (min-width: $tabletMin) {
      width: 32px;
      height: 30px;
    }
  }
}
